.btns-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;

  .btn {
    position: relative;
    font-family: "Clash Display", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    overflow: hidden;
    z-index: 10;
    &.active .char {
      color: var(--overlineTXorAcent);
    }
    a {
      text-decoration: none;
    }

    #bottom-texts {
      position: absolute;
      top: 0;
      left: 0;
      color: #000000;
      font-size: 2rem;
    }
    #bottom-line {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: brown;
    }
    &:hover {
      cursor: pointer;
    }
  }

  @include DESKTOP {
    .btn {
      position: relative;
      font: 400 1rem "Clash Display", sans-serif;

      #bottom-texts {
        font: 400 1rem "Clash Display", sans-serif;
      }
    }
  }
}

.btn-top-text {
  text-decoration: none;
  overflow: hidden;
  color: #000000;
}

.email {
  font: 600 1.125rem/1.6 "Clash Display", sans-serif;
}
